//containers
$mainContainer: 80vw;
$deviceViewHeight: 100vh;
$deviceViewWidth: 100vw;

// box
$marginAuto: 0 auto;
$marginBlock: 1rem 0;
$paddingBlock: 1rem 0;
//layouts
$displayFlex: flex;
$spaceBetween: space-between;
$Center: center;

$backgroundColor: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(121, 9, 78) 100%);
$bgDark: #6d087312;
$color: rgba(0 102 122 / 61%);